@using XX_PhotoPrint.Service
@{

    var js = new System.Web.Script.Serialization.JavaScriptSerializer();
    Req req = new Req();

    if (Request["action"] == "add")
    {
        Layout = null;
        string callback = req.String("callback");
        string productName = req.String("productName", false, "缺少商品名");
        decimal price = req.Decimal("price", false, "缺少商品价格");
        string baseInfo = req.String("baseInfo");
        string content = req.String("content", false, "缺少商品内容");
        string tag = req.String("tag");
        int sort = req.Int("sort");
        int subId = req.Int("subId", false, "缺少商品类别");
        string workName = req.String("workName", false, "缺少图案名");
        string workDesc = req.String("workDesc");
        var picture = req.File("picture", false, "缺少商品图片");
        var print = req.File("print", false, "缺少打印图片");
        string colors = req.String("colors", false, "缺少商品颜色");
        string sizes = req.String("sizes", false, "缺少商品尺寸");

        var sizeList = js.Deserialize<IList<IDictionary<string, object>>>(sizes);
        var colorList = js.Deserialize<IList<IDictionary<string, object>>>(colors);

        if (req.HasError)
        {
            Output.Write(HtmlService.SubmitResult(callback, new { success = false, msg = req.FirstError, errors = req.GetErrors() }));
            return;
        }

        content = HttpUtility.UrlDecode(content);

        DateTime now = DateTime.Now;
        int productId;
        int workId;

        string leftPath = "product/" + now.ToString("yyyy") + "/";
        string printSrc = leftPath + (now.Ticks - DateTime.MinValue.Ticks) + print.FileName.Substring(print.FileName.LastIndexOf('.'));
        string src = leftPath + (now.Ticks + 1 - DateTime.MinValue.Ticks) + picture.FileName.Substring(picture.FileName.LastIndexOf('.'));
        string savePath = Server.MapPath("~/Content/" + src);
        string printSavePath = Server.MapPath("~/Content/" + printSrc);
        string dir = System.IO.Path.GetDirectoryName(savePath);
        if (!System.IO.Directory.Exists(dir))
        {
            System.IO.Directory.CreateDirectory(dir);
        }

        using (DbService db = new DbService())
        {
            db.BeginTrans();

            db.Execute("insert into Product (ProductName,ProductCode,Price,BaseInfo,Content,Tag,Sort,SubID,CreationDate,Deleted) values (@p0,@p1,@p2,@p3,@p4,@p5,@p6,@p7,@p8,0)", out productId, productName, "", price, baseInfo, content, tag, sort, subId, now);

            string id = "00000000" + productId;
            string code = now.ToString("yyMM") + id.Substring(id.Length - 8, 8);
            db.Execute("update Product set ProductCode=@p0 where ProductID=@p1", code, productId);

            db.Execute("insert into Work (WorkCode,WorkName,WorkDesc,ProductID,SoldNum,Picture,CreationTime,Deleted) values (@p0,@p1,@p2,@p3,@p4,@p5,@p6,0)",
                out workId, "", workName, workDesc, productId, 0, src, now);

            id = "00000000" + workId;
            code = now.ToString("yyMM") + id.Substring(id.Length - 8, 8);
            db.Execute("update Work set WorkCode=@p0 where WorkID=@p1", code, productId);

            int styleId;
            db.Execute("insert into Style (StyleName,Rect,ProductID) values ('默认','',@p0)", out styleId, productId);

            for (var i = 0; i < sizeList.Count; i++)
            {
                var size = sizeList[i];
                db.Execute("insert into ProductSize (SizeName,StyleID,ProductID) values (@p0,@p1,@p2)", size["sizeName"], styleId, productId);
            }

            for (var i = 0; i < colorList.Count; i++)
            {
                var color = colorList[i];
                db.Execute("insert into Color (ColorName,ColorCode,ProductID) values (@p0,@p1,@p2)", color["colorName"], color["colorCode"], productId);
            }

            db.Execute("insert into Customization (WorkID,ProductID,StyleID,ColorID,SizeID,[Print]) values (@p0,@p1)", workId, productId, styleId, 0, 0, printSrc);

            db.Commit();
        }
        picture.SaveAs(savePath);
        print.SaveAs(printSavePath);

        Output.Write(HtmlService.SubmitResult(callback, new { success = true, productId = productId }));
        return;
    }
    else if (Request["action"] == "getsubcate")
    {
        Layout = null;
        Output.Write(js.Serialize(new
        {
            success = true,
            data = SQL.Query("select SubID,SubName,CategoryID from SubCate where CategoryID=@p0", int.Parse(Request["categoryId"]))
        }));
        return;
    }

    Layout = "~/Views/Shared/_ManageLayout.cshtml";
    var categories = SQL.Query("select CategoryID,CategoryName from Category order by CategoryName");
}
<style>
    .p-color { position: relative; width: 720px; }
    .p-color .p-colors { }
    .p-color .p-colors p { float: left; background: #ddd; padding: 0 2px 2px 0; margin: 0 0 2px 2px; position: relative; white-space: nowrap; }
    .p-color .p-colors p i { display: inline-block; vertical-align: middle; margin: 0 2px 2px 2px; width: 14px; height: 14px; }
    .p-color .p-colors p em { cursor: pointer; color: #666; }
    .p-color-add { float: left; cursor: pointer; width: 20px; height: 20px; margin: 0 0 0 4px; }
    .p-size { float: left; margin-left: 2px; }
    .cp-main { position: absolute; background: #fff; border: 3px solid #ddd; padding: 20px; display: none; z-index: 100; }
    .cp-form li { margin: 4px 0 0 0; }
    .cp-action { text-align: right; }
    .bs-text { float: left; }
    .bs { zoom: 1; clear: left; float: left; }
</style>
<h1>商品添加</h1>
<form id="form1" action="addproduct?action=add" method="post" enctype="multipart/form-data" class="form">
<table>
    <tr>
        <th>商品类别<i>*</i></th>
        <td><select id="categoryId" name="categoryId">
            <option value="">选择类别</option>
            @if (categories != null)
            {
                foreach (var item in categories)
                { 
                <option value="@item["CategoryID"]">@item["CategoryName"]</option>
                }
            }
        </select>
        </td>
    </tr>
    <tr>
        <th>商品子类<i>*</i></th>
        <td><select id="subId" name="subId">
            <option value="">选择子类</option>
        </select>
        </td>
    </tr>
    <tr>
        <th>图案名<i>*</i></th>
        <td><input name="workName" class="text" /></td>
    </tr>
    <tr>
        <th>商品名<i>*</i></th>
        <td><input name="productName" class="text" /></td>
    </tr>
    <tr>
        <th>商品价格<i>*</i></th>
        <td><input name="price" class="text_price" /></td>
    </tr>
    <tr>
        <th>商品图片<i>*</i></th>
        <td><input name="picture" type="file" /></td>
    </tr>
    <tr>
        <th>打印图片<i>*</i></th>
        <td><input name="print" type="file" /></td>
    </tr>
    <tr>
        <th>商品颜色<i>*</i></th>
        <td>
            <div class="p-color" style="z-index: 100">
                <div class="J_colors p-colors"><span id="addColor" class="p-color-add"><em class="ico-add"></em></span></div>
                <div id="colorPickerPanel" class="cp-main">
                    <div id="colorPicker"></div>
                    <ol class="cp-form">
                        <li><span>颜色：</span><input class="text_normal" id="colorCode" value="#123456" /></li>
                        <li><span>名称：</span><input class="text_normal" id="colorName" /></li>
                        <li class="cp-action"><input type="button" id="cpOK" class="button" value="确定" />
                            <input type="button" id="cpCancel" class="button" value="取消" />
                        </li>
                    </ol>
                </div>
                <input type="hidden" name="colors" />
            </div>
        </td>
    </tr>
    <tr>
        <th>商品尺寸<i>*</i></th>
        <td>
            <div class="p-color" style="z-index: 0">
                <div class="J_Size p-colors"><input id="sizeName" class="text_short p-size" /><span id="addSize" class="p-color-add"><em class="ico-add"></em></span></div>
                <input type="hidden" name="sizes" />
            </div>
        </td>
    </tr>
    <tr>
        <th class="vtop">商品简述</th>
        <td><textarea name="workDesc" class="text"></textarea></td>
    </tr>
    <tr>
        <th class="vtop">基本信息</th>
        <td>
            <div class="p-color" style="z-index: 0">
                <div class="J_BaseInfo p-colors">
                    <p class="bs"><input class="text_short p-size" value="材质" /><i class="bs-text">：</i><input class="text_normal p-size" /><em>×</em></p>
                    <p class="bs"><input class="text_short p-size" value="工艺" /><i class="bs-text">：</i><input class="text_normal p-size" /><em>×</em></p>
                    <span id="addBaseInfo" class="p-color-add"><em class="ico-add"></em></span></div>
                <input type="hidden" name="baseInfo" />
            </div>
        </td>
    </tr>
    <tr>
        <th>排序权重</th>
        <td><input name="sort" class="text_number" /></td>
    </tr>
    <tr>
        <th>商品标签</th>
        <td><input name="tag" class="text" /></td>
    </tr>
    <tr>
        <th class="vtop">商品正文<i>*</i></th>
        <td>
            <div style="position: relative;"><textarea name="content" style="width: 600px; height: 400px; visibility: hidden;"></textarea></div>
        </td>
    </tr>
</table>
</form>
<div class="action"><button id="add" class="button">添加</button>
    <a class="button" href="products">取消</a> </div>
<script>
    seajs.use(['jquery','kindeditor/kindeditor-min','lib/validation','lib/util','colorpicker/colorpicker','lib/global.css','colorpicker/colorpicker.css'],function($,K,V,util) {
        //商品分类
        var $subId=$('#subId');
        $('#categoryId').on('change',function() {
            var id=this.value;
            $subId[0].length=1;

            if(id!='') {
                $.ajax({
                    url: 'addproduct?action=getsubcate',
                    type: 'post',
                    data: {
                        categoryId: id
                    },
                    dataType: 'json',
                    success: function(res) {
                        if(res.success) {
                            $.each(res.data,function(i,item) {
                                $subId.append('<option value="'+item.SubID+'">'+item.SubName+'</option>');
                            });
                        } else
                            alert(res.msg);
                    }
                });
            }
        });

        //商品内容
        var editor=K.create('textarea[name="content"]',{
            uploadJson: "/manage/upload",
            allowFileManager: false,
            items: ['source','fontname','fontsize','|','forecolor','hilitecolor','bold','italic','underline',
                'removeformat','|','justifyleft','justifycenter','justifyright','insertorderedlist',
                'insertunorderedlist','|','emoticons','image','link']
        });

        //商品颜色
        $("#colorPicker").colorPicker('#colorCode');

        var colors=[],
            $colorPicker=$('#colorPickerPanel'),
            $colorCode=$('#colorCode'),
            $colorName=$('#colorName'),
            $colors=$('.J_colors'),
            $colorAdd=$('#addColor');

        $colors.delegate('p em','click',function() {
            $(this).parent().remove();
        });

        $colorAdd.click(function() {
            $colorPicker.css({
                left: Math.min(this.offsetLeft+this.offsetWidth,$(window).width()/2+500-$colorPicker.parent().offset().left-$colorPicker.outerWidth())

            }).show(200);
        });

        $('#cpCancel').click(function() {
            $colorPicker.hide(200);
        });

        $('#cpOK').click(function() {
            var colorName=$colorName.val(),
                colorCode=$colorCode.val();

            if(colorName==''||colorCode=='') {
                alert("请填写颜色");
                return;
            }

            $colorPicker.hide(200);

            $('<p><i style="background-color: '+colorCode+';"></i>'+colorName+'<em>×</em></p>')
                .attr('data-name',colorName)
                .attr('data-color',colorCode)
                .insertBefore($colorAdd);
        });
        var getColors=function() {
            var colors=[];
            $colors.find('[data-name]').each(function(i,item) {
                item=$(item);
                colors.push({
                    colorName: item.attr('data-name'),
                    colorCode: item.attr('data-color')
                });
            });
            return colors;
        };

        //商品尺寸
        var $sizeName=$('#sizeName');

        $('#addSize').click(function() {
            var sizeName=$sizeName.val();

            if(sizeName=='') {
                alert("请填写尺寸");
                return;
            }

            $('<p>'+sizeName+'<em>×</em></p>')
                .attr('data-name',sizeName)
                .insertBefore($sizeName);

            $sizeName.val('');
        });

        $('.J_Size,.J_BaseInfo').delegate('p em','click',function() {
            $(this).parent().remove();
        });

        var getSizes=function() {
            var sizes=[];
            $('.J_Size').find('[data-name]').each(function(i,item) {
                item=$(item);
                sizes.push({
                    sizeName: item.attr('data-name')
                });
            });
            return sizes;
        };

        //基本信息
        $baseInfoBtn=$('#addBaseInfo');
        $baseInfoBtn.click(function() {
            $('<p class="bs"><input class="text_short p-size" /><i class="bs-text">：</i><input class="text_normal p-size" /><em>×</em></p>')
                .insertBefore($baseInfoBtn);
        });

        var getBaseInfos=function() {
            var infos=[];
            $('.J_BaseInfo').find('.bs').each(function(i,item) {
                item=$(item).find('input');

                infos.push({
                    name: item.eq(0).val(),
                    value: item.eq(1).val()
                });
            });
            return infos;
        };

        //验证信息
        var valid=new V([{
            id: '#categoryId',
            emptyAble: false,
            emptyText: '请选择类别'
        },{
            id: '#subId',
            emptyAble: false,
            emptyText: '请选择子类'
        },{
            id: '[name="workName"]',
            emptyAble: false,
            emptyText: '请填写图案名'
        },{
            id: '[name="productName"]',
            emptyAble: false,
            emptyText: '请填写商品名'
        },{
            id: '[name="price"]',
            emptyAble: false,
            emptyText: '请填写商品价格',
            regex: /^\d+(\.\d+){0,1}$/,
            regexText: '请填写正确的金额'
        },{
            id: '#addColor',
            top: 0,
            validate: function() {
                return getColors().length>0;
            },
            validationText: '请添加商品颜色'
        },{
            id: '#addSize',
            top: 0,
            validate: function() {
                return getSizes().length>0;
            },
            validationText: '请添加商品尺寸'
        },{
            id: '[name="content"]',
            position: 'dock-bottom:this.parent()',
            emptyAble: false,
            emptyText: '请填写商品内容'
        }]);

        //添加商品
        $('#add').click(function() {
            var colors=getColors(),
                sizes=getSizes(),
                infos=getBaseInfos();

            var $content=$('[name="content"]').val(encodeURIComponent(editor.html()));

            if(valid.validate()) {
                $('[name="colors"]').val(util.stringify(colors));
                $('[name="sizes"]').val(util.stringify(sizes));
                $('[name="baseInfo"]').val(util.stringify(infos));

                util.submitForm('#form1',function(res) {
                    //alert(util.stringify(res));
                    $content.val(decodeURIComponent($content.val()));
                    if(res.success) {
                        alert('添加成功，进入下一步上传商品图片');
                        location.href='uploadpic?id='+res.productId;
                    } else
                        alert(res.msg);
                });

            } else
                scrollTo(0,0);
        });
    });
</script>
