<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <connectionStrings>
    <add name="Database" connectionString="server=(local);Initial Catalog=XX_PhotoPrint;Persist Security Info=True;User ID=sa;Password=12345Qwert;" providerName="System.Data.SqlClient" />
    <add name="XX_PhotoPrint" connectionString="server=(local);Initial Catalog=XX_PhotoPrint;Persist Security Info=True;User ID=sa;Password=12345Qwert;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="Alipay_PrivateKey" value="MIICdwIBADANBgkqhkiG9w0BAQEFAASCAmEwggJdAgEAAoGBAKWUs1tnAu51M2/1B1dBmoz8cZYqUCD4Mw73UwzLznaVS7J9grddqw9qLgVpkvjoyy7fgb3wW8qku8MZSAMP4BvUwYlwIEuCYOSo37/QHcZZ4ggpGzXpSOHNV4MvhQdGOqioNjhQKCN1FW7cQg54afbXPO1bHbiFEjFKJnc3KrHrAgMBAAECgYA0/cgA4pDPm/agR/zXcglyQYBgnJ4UTxqYGZMcr0UeMl2NfBmPcYzDXCnqVYVR377W+3TcQsY9rkbhA4BGaphADCPifSsdpZn4lhSnwpMKaH7V5sR9ZgSD0shc9kfmQXBSnGGMI1bGx34UhdXQ5JdT9VSQ6Lw0DdXCmT0XrcMFcQJBANFrWMKsIy/Gb68itomu7L+ibiidF69oOFbYlWMLEHzHTw6MKUXsFHqb8A+bO+/fNUhdKTtU7uUgZ8mxqwwPoVcCQQDKaSAjadJWdwi2GrQv6oeJrrdl19O9y/BWS5ImvQoUb0XRkF8yCb7hzw5pUYVXG0/3AXma+VTwW27y04zu2bONAkEAy4r8gGny4TKLxruEk5nTPgdP7mWRaclwSOjFebh9U+ocKtWMIAvvc6Qw1dpZjTFzhlwWATbx4v12IxFuYJCojQJAJcmoeVQJM6E3XB/yIbvsH9UhYf8ABb/sF4A2Qcsq9ZOseio0y3esTiXEr/7LIO71Z8y7siX4KIM5XFYISpMUBQJBAK04lyM+tPQyjHalkByXDo/SlkCJThXMzFWetrEXLpjsgaR+H+KhlcpDXzbkqEoha/r5ZNPSU6AR7ckhUnNJ7sw=" />
    <add key="Alipay_Partner" value="2088711722481825" />
    <add key="Alipay_Seller_account_name" value="shy@instafabric.com" />
    <add key="Alipaypublick" value="MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCllLNbZwLudTNv9QdXQZqM/HGWKlAg+DMO91MMy852lUuyfYK3XasPai4FaZL46Msu34G98FvKpLvDGUgDD+Ab1MGJcCBLgmDkqN+/0B3GWeIIKRs16UjhzVeDL4UHRjqoqDY4UCgjdRVu3EIOeGn21zztWx24hRIxSiZ3Nyqx6wIDAQAB" />

    <!-- Alipay即时到帐支付配置 -->
    <add key="AlipayPartner" value="2088711722481825" />
    <add key="AlipayKey" value="z486vm0mz3o8ev6rfxu6ommuipbpfq7y" />
    <add key="AlipaySellerEmail" value="shy@instafabric.com" />
  </appSettings>

  <system.web>
    <sessionState mode="StateServer" cookieless="false" timeout="20" stateConnectionString="tcpip=127.0.0.1:42424" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <httpRuntime maxRequestLength="20690" useFullyQualifiedRedirectUrl="true" executionTimeout="6000" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" enableVersionHeader="true" />

    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="XX_PhotoPrint.Service" />
        <add namespace="System.Web.Script.Serialization" />
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
        <handlers>
            <add name="all" path="*" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="None" preCondition="classicMode,runtimeVersionv4.0,bitness64" />
        </handlers>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
