<div class="footer">
    <div class="ftnav">
        <ul>
            <li><a href="/">关于速纺</a></li>
            <li><a href="/">订单跟踪</a></li>
            <li><a href="/">招聘</a></li>
            <li><a href="/">通讯</a></li>
            <li><a href="/">帮助</a></li>
            <li class="last"><a href="/">联系我们</a></li>
        </ul>
    </div>
    <div class="copyright">Copyright©INSTAFABRIC all rights reserved.</div>
</div>
