<div class="footer">
<div style="margin-top: -15px;margin-bottom: 30px;font-weight: bold">
·100%个性定制&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
·100%正品保证&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
·7天闪电发货&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
·30天无忧退换&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
·365天客服热线
</div>
    <div class="ftnav">
        <ul>
            <li><a href="/news.html?id=999">关于速纺</a></li>
            <li><a href="/recruit.html">招聘</a></li>
            <li><a href="/help.html">帮助</a></li>
            <li><a href="/news.html?id=998">速纺的产品保证</a></li>
            <li><a href="/news.html?id=997">免责声明</a></li>
            <li class="last"><a href="/contact.html">联系我们</a></li>
        </ul>
    </div>
    <div class="copyright">Copyright©INSTAFABRIC all rights reserved.</div>
</div>
<div class="scroll_to_top js_scroll_to_top"></div>
<script>    seajs.use(['$'],function($) { $('.js_scroll_to_top').click(function() { $('html,body').animate({ scrollTop: 0 },100) }) })</script>
