<div class="footer">
    <div class="ftnav">
        <ul>
            <li><a href="/aboutus.html">关于速纺</a></li>
            <li><a href="/recruit.html">招聘</a></li>
            <li><a href="/help.html">帮助</a></li>
            <li class="last"><a href="/contact.html">联系我们</a></li>
        </ul>
    </div>
    <div class="copyright">Copyright©INSTAFABRIC all rights reserved.</div>
</div>
<div class="scroll_to_top js_scroll_to_top"></div>
<script>seajs.use(['$'],function($){$('.js_scroll_to_top').click(function(){$('html,body').animate({scrollTop:0},100)})})</script>