<div class="footer">
    <div class="ftnav">
        <ul>
            <li><a href="/aboutus.html">关于速纺</a></li>
            <li><a href="/recruit.html">招聘</a></li>
            <li><a href="/help.html">帮助</a></li>
            <li class="last"><a href="/contact.html">联系我们</a></li>
        </ul>
    </div>
    <div class="copyright">Copyright©INSTAFABRIC all rights reserved.</div>
</div>
