@using XX_PhotoPrint.Service
@{
    SL.Util.RequestUtil req = new SL.Util.RequestUtil();

    int galleryId = req.Int("id", false, "请传入画作ID");

    if ("modify".Equals(Request.QueryString["action"]))
    {
        Layout = null;

        string galleryName = req.String("GalleryName", false, "请填写设计师");
        int votes = req.Int("Votes", false, "请填写投票");
        SL.Util.RequestFile picture = req.File("Picture");
        
        if (req.HasError)
        {
            SL.Util.HtmlUtil.OutputResult(new { success = false, msg = req.FirstError, errors = req.GetErrors() });
            return;
        }

        string original = SL.Data.SQL.QueryValue<string>("select Picture from Gallery where GalleryID=@p0", galleryId);

        string src = original;

        if (!picture.IsEmpty)
        {
            SL.Util.RequestFile.Delete(original);
            src = picture.Save();
        }

        SL.Data.SQL.Execute("update Gallery set GalleryName=@p1,Votes=@p2,Picture=@p3 where GalleryID=@p0", galleryId, galleryName, votes, src);

        SL.Util.HtmlUtil.OutputResult(new { success = true });
        return;
    }

    Layout = "~/Views/Shared/_ManageLayout.cshtml";

    var data = SL.Data.SQL.QuerySingle("select GalleryID,GalleryName,a.DesignerID,Picture,Votes,DesignerName from Gallery a join Designer b on a.DesignerID=b.DesignerID where GalleryID=@p0", galleryId);
}
<div id="form" class="form"></div>
<script>
    seajs.use(['jquery','lib/util','lib/form','lib/global.css'],function($,util,Form) {

        var form=new Form('#form',{
            title: '修改画作',
            url: "modifyGallery?action=modify",
            controls: [{
                label: '设计师',
                render: function() {
                    return "@data.DesignerName";
                }
            },{
                type: 'hidden',
                name: 'id',
                value: util.query('?id')
            },{
                type: 'text',
                name: 'GalleryName',
                label: '画作名',
                value: "@data.GalleryName",
                validation: {
                    emptyAble: false,
                    emptyText: '请填写画作名'
                }
            },{
                type: 'file',
                label: '画作',
                emptyAble: false,
                name: 'Picture'
            },{
                type: 'text',
                name: 'Votes',
                label: '投票数',
                value: "@data.Votes",
                validation: {
                    emptyAble: false,
                    emptyText: '请填写投票'
                }
            }],
            buttons: [{
                text: '修改',
                handle: function() {
                    form.submit(function(res) {
                        if(res.success) {
                            alert("修改成功");
                            location.href="gallery";
                        } else
                            alert(res.msg);
                    });
                }
            },{
                text: '取消',
                handle: function() {
                    location.href="gallery";
                }
            }]
        });

    });
</script>
