@using XX_PhotoPrint.Service
@using SL.Util
@using System.Web.Script.Serialization
@{
    if (Request.HttpMethod == "POST")
    {
        return;
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main orderwrap clearfix js_cart_bd">
    <div class="order_steps">
        <ul class="clearfix">
            <li><a href="/cart"><i>1</i><span>查看购物车</span></a><em></em></li>
            <li><i>2</i><span>确认订单</span><em></em></li>
            <li class="next last"><i>3</i><span>支付相关费用</span></li>
        </ul>
    </div>
    <div class="order_address">
        <div class="edit">编辑</div>
        <ul>
            <li><span>姓名</span> xxx</li>
            <li><span>电话</span> xxx</li>
            <li><span>收货地址</span> xxx</li>
        </ul>
    </div>
    <div class="order_cart">
        <table class="cartlist tablelist">
            <tr>
                <th width="150">图 片</th>
                <th class="desc" width="300">说 明</th>
                <th>单 价</th>
                <th>数 量</th>
                <th>价 格</th>
            </tr>
            <tbody class="js_cart_list">
                <tr class="noborder">
                    <td colspan="7">正在载入...</td>
                </tr>
            </tbody>
        </table>
        <div class="cartinfo clearfix mainlast">
            <div class="leave_msg">
                <div class="hd">给速纺留言</div>
                <div class="bd"><textarea class="txt_leave_msg"></textarea></div>
            </div>
            <ul class="cartprice">
                <li><span class="js_amount"></span>金额</li>
                <li class="solid"><span>￥10</span>运费</li>
                <li class="solid"><span class="js_total_amount">￥120</span>合计</li>
                <li class="action">
                    <div class="btn_dlg_r js_create_order" style="width: 120px;"><i class="ico"></i>确认并付款</div>
                </li>
            </ul>
        </div>
    </div>
</div>
<script id="cartItem" type="template">
{%each(i,item) data%}
<tr{%if i==data.length-1%} class="noborder"{%/if%} data-rowid="${item.CartID}">
    <td class="imgwrap"><img class="img" src="${item.Picture}" /></td>
    <td class="desc"><p class="name"><a href="">${item.ProductName}</a></p>
        <p class="color">${item.Styles[0].ColorName},${item.Styles[0].SizeName}</p>
    </td>
    <td>￥${item.Price}</td>
    <td>${item.Qty}</td>
    <td class="js_total" data-price="${item.Price}">￥${item.Price*item.Qty}</td>
</tr>
{%/each%}
</script>
<script type="text/javascript">
    seajs.use(['$','lib/util','sl/view','sl/validation','extentions/qty','sl/tmpl'],function ($,util,View,Validation,qtyEvents,tmpl) {
        var CartView=View.extend({
            events: $.extend({
                'click .js_del': 'deleteSingle',
                'click .js_create_order': 'createOrder'
            },qtyEvents),

            createOrder: function (e) {
                var that=this,
                    ids=[];

                that.$('.js_select:checked').closest('tr').each(function () {
                    ids.push($(this).data('rowid'));
                });

                location.href="/order?ids="+ids.join(',');
            },

            getTotal: function () {
                var total=0;
                this.$('tr').find('.js_total').each(function () {
                    total+=parseFloat($(this).html().replace('￥',''));
                });
                this.$('.js_amount').html('￥'+total);
                this.$('.js_total_amount').html('￥'+(total+(total<600?10:0)));

                return total;
            },

            htmlNoData: '<tr class="noborder"><td colspan="7">您的购物车中暂无商品，请去<a href="/">首页</a>选购吧</td></tr>',

            htmlLoading: '<tr class="noborder"><td colspan="7">正在载入...</td></tr>',

            initialize: function () {
                var that=this;

                that.$list=$('.js_cart_list');

                that.$list.html(that.htmlLoading);

                $.ajax({
                    url: '/json/shop/getshoppingcart',
                    data: {
                        ids: util.query('?ids')
                    },
                    dataType: 'json',
                    success: function (res) {
                        if(res.success&&res.data&&res.data.length) {
                            var template=$('#cartItem').html();

                            that.$list.html(tmpl(template,res));

                        } else {
                            that.$list.html(that.htmlNoData);
                        }
                        that.getTotal();
                    },
                    error: function () {
                        that.getTotal();
                    }
                });
            }
        });

        new CartView('.js_cart_bd');

    });
</script>
