@using XX_PhotoPrint.Service
@{
    ViewBag.Title = "关于我们";
    Layout = "~/Views/Shared/_Layout.cshtml";

    SL.Util.RequestUtil req = new SL.Util.RequestUtil();
}
<div class="main aboutwrap">
    <div class="about_hd">快乐创意团队</div>
    <div class="about_bd">我们是一群T恤创意帮，我们热爱潮流更热衷于创意。速纺认为，<br>
        T恤不仅仅是印刷这字或画的布料，而是张扬自我的画布。我们<br>
        相信每个人都可以并应该成为自己的设计师。速纺给这些设计师<br>
        一个展示独特自我的平台。</div>
</div>
