@using XX_PhotoPrint.Service
@{
    ViewBag.Title = "下载";
    Layout = "~/Views/Shared/_Layout.cshtml";

    SL.Util.RequestUtil req = new SL.Util.RequestUtil();
}
<div class="main clearfix downloadwrap">
    <div class="download_banner"></div>
    <div class="download1"></div>
    <div class="download2"></div>
    <div class="download3"></div>
</div>
