@using XX_PhotoPrint.Service
@using SL.Util
@using System.Web.Script.Serialization
@{
    RequestUtil req = new RequestUtil();

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main prodwrap clearfix ">
    <div class="gallerywrap js_container">
        <div class="galleryhd">
            <div class="hd">让你的艺术创作变成现实</div>
            <div class="hd1">轻触屏幕，速纺将你的艺术创作印制成独一<br>
                无二的纯棉T恤，随心个性定制</div>
            <div class="slide_down">SLIDE DOWN</div>
        </div>
        <div class="js_waterfall waterfall">
            <div class="wf_item"><img src="http://" /></div>
            <div class="wf_item">asd2fa<br>
                sdf</div>
            <div class="wf_item">asd3fasdf</div>
            <div class="wf_item">asd4fasdf</div>
            <div class="wf_item">asd5fasdf</div>
            <div class="wf_item">asd6fa<br>
                <br>
                sdf</div>
        </div>
    </div>
</div>
<script>
    seajs.use(['$','sl/view','sl/widget/waterfall','sl/widget/loading'],function ($,view,Waterfall,LoadingView) {
        var waterfall=new Waterfall('.js_waterfall',{
            itemSelector: '.wf_item'
        });

        new LoadingView('.js_container',{
            url: '',
            initialize: function () {
                this.$list=this.$el.find('.js_waterfall');
            }
        });

    });
</script>
