@using XX_PhotoPrint.Service
@{
    ViewBag.Title = "关于我们";
    Layout = "~/Views/Shared/_Layout.cshtml";

    SL.Util.RequestUtil req = new SL.Util.RequestUtil();
}
<div class="main ecowrap"><img class="eco_img" src="/content/eco.jpg" width="100%" /></div>
