@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>速纺</title>
    <link href="/theme/style.css" rel="Stylesheet" />
    <!--[if lt IE 9]><link href="/theme/ie.css" rel="Stylesheet" /><![endif]-->
    <script src="/js/seajs/sea.js"></script>
    <script>
        seajs.config({
            alias: {
                "jquery": "lib/jquery-1.7.2.min",
                "$": "lib/jquery-1.7.2.min"
            }
        });
    </script>
</head>
<body>
    <div class="main launchwrap">
        <div class="launchbd">我们热爱潮流更热衷创意。<br>
            T恤不仅仅是印制这字或画的布料，而是张扬自我的画布。<br>
            我们相信每个人都可以并且都应该成为自己的设计师。速纺给予这些设计师<br>
            一个展示独特自我的平台。 </div>
        <div class="launch_logo"><img class="logo" src="/theme/images/logo.png" /></div>
        <div class="launch_ft"><a href="/index.html">首页</a> <span class="launch_ft_split"></span><a href="/creation.html">创作</a> <span class="launch_ft_split"></span><a href="/news.html?id=1000">操作指南</a></div>
    </div>
</body>
</html>
